body {
    margin: 0;
    padding: 0;
    background-image: url('black-friday-sales-arrangement-with-copy-space.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}

.navbar {
    justify-content: center;
    align-item: center;
    position: sticky;
    top: 0;
}

.navbar ul {
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-size: 1.1rem;
    font-weight: bold;
}

header {
    text-align: center;
    padding: 50px;
}

header h1 {
    text-align: left;
    margin-left: 5px;
}

header h2 {
    text-align: left;
    font-size: small;
    font-style: italic;
    margin-left: 5px;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    margin-bottom: -200px;
}
