body {
    margin: 0;
    padding: 0;
    background-image: url('black-friday-sales-arrangement-with-copy-space.jpg');
    background-size: 50%;
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}

header {
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.3);
}

header h1 {
    text-align: left;
    margin-left: 100px;
}

header h2 {
    text-align: left;
    font-size: small;
    font-style: italic;
    margin-left: 50px;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: -50px;
}
