body {
    margin: 0;
    padding: 0;
    background-image: url('black-friday-sales-arrangement-with-copy-space.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: center;
    align-item: center;
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: #fff;
    color: #000;
    box-shading: 0 0 10px #fff;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    margin-bottom: -200px;
}
